.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 90px;
    align-items: center;
    margin: 0 auto;
}

nav.header a {
    color: #FFFFFF;
    text-decoration: none; 
    margin-right: 30px;
}

nav.header a:hover {
    color: orange
}
